[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=<%= @lincall_path %> %u
Name=Call with Linphone
Name[fr]=Appeler avec Linphone
Comment=Call people
Comment[fr]=Passer des appels téléphoniques
Categories=Application;Network;
MimeType=<% @protocols.each do |protocol| %>x-scheme-handler/<%= protocol %>;<% end %>
